*{
  padding: 0;
  margin: 0;
}
#wrapper{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%,0);
}
h1{
  margin: 20px 0;
  color: #00695C;
}
canvas{
  width: 300px;
  height: 300px;
}
#Turno{
  font-weight: bold;
  margin: 20px 0;
  color: #00695C;

}
button{
  width: 100px;
  height: 50px;
  background: teal;
  border: 2px solid teal;
  box-shadow: 0px 0px 3px teal;
  cursor: pointer;
  transition-duration: .2s;
  font-family: "Pattaya", sans-serif;
  color: white;
  border-radius: 30px;
}
button:hover{
  background: white;
  color: #00695C;
  transition-duration: .2s;
}
